<ion-view title="{{tea.name}}">
    <ion-content padding="true">
        <div class="list card">
            <div class="item">
                <h1 style="text-align:center;">{{brewTimeDisplay}}</h1>
            </div>

            <div class="item item-body">
                <div ng-show="brewing">
                    <img class="full-image" src="img/spincup.gif">
                </div>
                <div ng-show="brewReady">
                    <img class="full-image" src="img/tea_ready.jpg">
                </div>
                <div ng-show="brewCancel">
                    <img class="full-image" src="img/tea_cancel.jpg">
                </div>
                <div ng-show="brewComplete">
                    <img class="full-image" src="img/tea_complete.jpg">
                </div>
            </div>
            <div class="item">
                <div ng-show="brewing">
                    <button class="button button-full button-positive" ng-click="cancelBrew()">
                        Stop Brewing
                    </button>
                </div>
                <div ng-hide="brewing">
                    <button class="button button-full button-positive" ng-click="startBrew()">
                        Start Brewing
                    </button>
                </div>
            </div>
        </div>
        <audio id="done" src="assets/snd1.mp3"></audio>
        <audio id="cancel" src="assets/snd2.mp3"></audio>
    </ion-content>
</ion-view>