<ion-view title="Tea Master">
    <ion-content padding="true">
        <div class="card">
            <div class="item item-divider">
                Exit?
            </div>
            <div class="item item-text-wrap">
                <button class="button button-block simple" ng-click="logout()">
                    Confirm
                </button>
            </div>
            <div class="item item-divider">
                <button class="button button-block simple" ng-click="cancelLogout()">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>